<kendo-grid
  [kendoGridBinding]="(managements$ | async) || []"
  [loading]="!!(isLoading$ | async)"
>
  <ng-template kendoGridToolbarTemplate>
    <kendo-dropdownlist
      [data]="groupsDescriptions$ | async"
      (selectionChange)="setDescription($event)"
    ></kendo-dropdownlist>

    <kendo-dropdownlist
      #measurements
      [data]="(measurements$ | async)"
      (selectionChange)="setMeasurement($event)"
    ></kendo-dropdownlist>

    <button
      kendoButton
      (click)="getManagements()"
      [fillMode]="'outline'"
    >Run</button>
  </ng-template>

  <kendo-grid-column field="externalMiId" title="Team Name"></kendo-grid-column>

  <kendo-grid-column field="kpiGroupDescription" title="Today"></kendo-grid-column>

</kendo-grid>
